div.contain img
{
    background-color: #FD2D01;
    width: 200px;
    
    object-fit: cover;
}

div.contain 
{
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: #FD2D01;
    margin-bottom: 100px;
}

@media only screen and (max-witdh: 767px) 
{
    img 
    {
        width: 50%;
        background-color: cornflowerblue;
        border: 10px solid black;
    }
}