@font-face {
    font-family: "Lato";
    src: url("./font//Lato/Lato-Regular.ttf");
}

html *
{
    font-family: "Lato";
}

div.items-center button
{
    background-color: #FD2D01;
}

h1  {
    display: flex;
    justify-content: center;
}