@font-face {
    font-family: "Lato";
    src: url("./font//Lato/Lato-Regular.ttf");
}

html *
{
    font-family: "Lato";
}


.text
{
    border: 2px solid #cbd5e1
}

form
{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
}

textarea#editor
{
    font-size: 2em;
}

div.boxbtn
{
    display: flex;
    justify-content: space-around;
}

strong
{
    font-size: 0.8em;
    margin-right: 5px;
}

.notification
{
    height: 50px;
    display: flex;
}

.msg
{
    font-size: 0.9em;
}

.notif
{
    opacity: 1;
    animation: fadein 3s;
}

@keyframes fadein 
{
    from {
        opacity: 0;
        transition:ease;
    }
    to{
        opacity: 1;
    }
}